.barra{
    width: 50%;

}
.barra2{
    width: 45%;
    
}
.barra3{
    width: 40%;
    
}
.barra4{
    width: 65%;
    
}
.barra5{
    width: 60%;
    
}
.barra6{
    width: 70%;
    
}
.barra7{
    width: 30%;
    
}